@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

i {
  pointer-events: none;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  outline: 1px solid slategrey;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #00c79c;
}

.header a {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  background: white;
  cursor: pointer;
  padding: 0.25rem 1rem;
  text-decoration: none;
  color: black;
}

.header a:hover {
  background: #eeebeb;
}

.header .float-right {
  margin-left: auto;
  border: none;
  padding: 0 1rem;
  background: #00c79c;
  cursor: pointer;
}

.header .float-right:hover {
  background: white;
}

.header .float-right img {
  width: 20px;
}

.footer {
  width: 100%;
  background: #201e1e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  text-align: center;
  margin-top: auto;
  z-index: 99999;
}

.footer__socials-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  width: 30%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__social-icon {
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  cursor: pointer;
  font-size: 3rem;
}

.footer__social-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.board {
  height: 100vh;
  background: linear-gradient(120deg, #fccb9077 0%, #d57eeb91 100%), url(https://images.unsplash.com/photo-1589041127168-9b1915731dc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.board__title-input {
  border: none;
  font-size: inherit;
  background: transparent;
  color: white;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.board__title-input:focus {
  margin-left: 0.25rem;
}

.board__category {
  margin: 1rem 0 0 1rem;
}

.board__del-btn {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  background: white;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  color: #d35050;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.board__del-btn:hover {
  background: #d35050;
}

.board__del-btn:hover {
  color: white;
}

.board__lr-btn {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  background: white;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  color: black;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.board__lr-btn:hover {
  background: white;
}

.board__lr-btn:hover {
  background: #64c964;
  color: white;
}

.board__crud-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
  margin: 0.25rem 0;
}

.board__crud-wrap button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  color: black;
}

.board__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
}

.board__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board__category-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin-top: 0.5rem;
}

.board__category-item {
  -webkit-box-shadow: 0 0 17px -5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 17px -5px rgba(0, 0, 0, 0.35);
  margin: 0.5rem 0.5rem 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  min-width: 280px;
  max-width: 280px;
  border-radius: 3px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: white;
  overflow-y: auto;
  max-height: 75vh;
}

.board__category-item:last-of-type {
  margin-right: 1rem;
}

.board__category-name {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}

.board__tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.board__task-item {
  list-style-type: none;
  padding: 0.5rem;
  margin: 0.25rem;
  background: #f0f0f0;
  width: 100%;
  -webkit-animation: anim 200ms;
          animation: anim 200ms;
  border-radius: 0.25rem;
}

.board__task-item:hover {
  cursor: pointer;
}

@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.board .task-input {
  border: 1px solid lightgray;
}

.board ::-webkit-input-placeholder {
  padding-left: 0.25rem;
}

.board :-ms-input-placeholder {
  padding-left: 0.25rem;
}

.board ::-ms-input-placeholder {
  padding-left: 0.25rem;
}

.board ::placeholder {
  padding-left: 0.25rem;
}

.board__task-input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board__task-input-wrap button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.board__task-name {
  margin-bottom: 2rem;
  word-break: break-all;
  pointer-events: none;
}

.board__title {
  font-weight: normal;
  margin: 0.5rem 1rem;
  font-size: 1.25rem;
  color: white;
}

.board__input-wrap {
  max-width: 300px;
  padding: 1rem;
  background: white;
  -webkit-box-shadow: 0 0 17px -7px rgba(0, 0, 0, 0.521);
          box-shadow: 0 0 17px -7px rgba(0, 0, 0, 0.521);
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
}

.board__input-wrap button {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  background: #64c964;
  cursor: pointer;
}

.board__input-wrap button:hover {
  background: #77dd77;
}

.board__input-wrap--in-cat {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding: 0;
  max-width: unset;
}

.board__input-wrap:first-of-type {
  margin-left: 1rem;
}

.board__input-wrap-title {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 1rem;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__wrap {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row-align: center;
      align-self: center;
  height: 80vh;
  width: 70vw;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.home__title {
  grid-column: span 2;
  text-align: center;
}

.home .left-col,
.home .right-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.home__btn-info {
  margin-top: 1rem;
  text-align: center;
}

.home .icon {
  font-size: 12vw;
  color: black;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.home__btn {
  border: none;
  background: white;
  cursor: pointer;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.home__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.home__btn:hover i {
  color: #77dd77;
}

.board-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.board-create__container {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board-create__wrap {
  padding: 2rem;
  width: 30%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-box-shadow: 0 0 17px -7px rgba(0, 0, 0, 0.363);
          box-shadow: 0 0 17px -7px rgba(0, 0, 0, 0.363);
  border-radius: 1rem;
  opacity: 0;
  -webkit-animation: fadeIn 800ms forwards 200ms;
          animation: fadeIn 800ms forwards 200ms;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.board-create__wrap input {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.116);
  margin-top: 0.5rem;
  font-size: 1rem;
}

.board-create__wrap button {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  background: #63ca63;
  cursor: pointer;
  margin-top: 0.5rem;
  border-radius: 100px;
  font-size: 1rem;
  border: 1px solid transparent;
}

.board-create__wrap button:hover {
  background: #4eb44e;
}

.board-create__name {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.view__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-height: 90vh;
}

.view__title {
  text-align: center;
  margin: 2rem 0;
  -webkit-animation: flyDown 700ms ease;
          animation: flyDown 700ms ease;
}

@-webkit-keyframes flyDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes flyDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.view__delete {
  padding: 0.25rem;
  text-decoration: none;
  color: white;
  background: #dd6161;
  font-size: 1rem;
  display: block;
}

.view__delete:hover {
  background: #bb4848;
  color: white;
}

.view__list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
}

.view__list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 1.5rem;
  background: white;
  margin: 0.35rem;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px -6px rgba(0, 0, 0, 0.486);
          box-shadow: 0 0 10px -6px rgba(0, 0, 0, 0.486);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: flyIn 700ms ease forwards;
          animation: flyIn 700ms ease forwards;
}

@-webkit-keyframes flyIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes flyIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.view__list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  color: black;
  padding: 2.5rem;
  display: block;
  -webkit-transition-duration: 70ms;
          transition-duration: 70ms;
}

.view__list-item:hover {
  background: #3a3131;
  color: white;
}

.modal,
.bg-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.336);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__wrap,
.bg-modal__wrap {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  width: 768px;
}

@media screen and (max-width: 768px) {
  .modal__wrap,
  .bg-modal__wrap {
    width: auto;
  }
}

.modal__title,
.bg-modal__title {
  margin: 1rem 0;
  font-size: 1.5rem;
  border: none;
  -webkit-transition-duration: 80ms;
          transition-duration: 80ms;
  outline: none;
  border-bottom: 2px solid transparent;
}

.modal__title:focus,
.bg-modal__title:focus {
  border-bottom: 2px solid #141414;
  padding-left: 0.25rem;
}

.modal__desc,
.bg-modal__desc {
  width: 100%;
  min-height: 250px;
  border: none;
  padding: 0.5rem 0 0 0.5rem;
  background: #ebebeb;
  border-left: 2px solid #141414;
  cursor: auto;
  font-size: 0.8rem;
  outline: none;
}

.modal__desc-title,
.bg-modal__desc-title {
  margin: 1rem 0;
  font-weight: bold;
}

.modal__desc-title span,
.bg-modal__desc-title span {
  margin-left: 0.5rem;
}

.modal ::-webkit-input-placeholder,
.bg-modal ::-webkit-input-placeholder {
  padding: 0;
}

.modal :-ms-input-placeholder,
.bg-modal :-ms-input-placeholder {
  padding: 0;
}

.modal ::-ms-input-placeholder,
.bg-modal ::-ms-input-placeholder {
  padding: 0;
}

.modal ::placeholder,
.bg-modal ::placeholder {
  padding: 0;
}

.modal__header,
.bg-modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__close,
.bg-modal__close {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  background: gray;
  cursor: pointer;
}

.modal__close:hover,
.bg-modal__close:hover {
  background: black;
}

.modal__bg-inputs,
.bg-modal__bg-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
}

.modal__bg-input,
.bg-modal__bg-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  padding: 0.5rem;
}

.modal__bg-close,
.bg-modal__bg-close {
  background: none;
  border: none;
  border-left: 1px solid black;
  padding: 0 1rem;
  cursor: pointer;
}

.modal__bg-close:hover,
.bg-modal__bg-close:hover {
  color: white;
  background: black;
}

.bg-modal .modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */